body,
html {
  height: 100%;
}

body {
  height: 80vh;
  width: 100vw;
}

#game {
  padding: 0 0 0 5px;
}

#app,
.v-stepper,
#mainApp,
.fillHeight,
.container {
  height: 100%;
  width: 100%;
}

header {
  height: 30px;
}

.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}

.startCommands input,
.startCommands select {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.startCommands .col {
  padding: 2px;
  padding-left: 6px;
  font-weight: 500;
}

#title {
  font-family: Garamond, Times, serif;
}

.row {
  height: 1em;
  line-height: 1em;
}

.box {
  display: inline-block;
  width: 6.25%;
  height: 1em;
  box-sizing: border-box;
  border: 1px solid red;
}

.card-list {
  display: grid;
  max-width: 50%;
}

.v-stepper__content {
  padding: 0;
}

.v-stepper__step {
  padding: 0;
  padding-left: 14px;
}

.canvas .object {
  margin: 7px;
}

li {
  list-style-type: none;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
}

li.list-group-item {
  border: none;
}

.v-application ul {
  padding: 5px;
}

.programmingArea {
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.item-dropzone-area {
  height: 2rem;
  background: #888;
  opacity: 0.8;
  animation-duration: 0.5s;
  animation-name: nodeInserted;
}

.list-item {
  border: 1px solid black;
  background-color: #eef2f8;
  font-size: medium;
  font-weight: 600;
  height: 7vh;
  cursor: pointer;
}

.nested-item {
  font-size: small;
  font-weight: 300;
  margin: 10px;
  background-color: white;
}

.start {
  border: none;
}

.objectClicked {
  border: 2px solid red;
}

.v-btn:not(.v-btn--outlined).secondary {
  color: #000;
}

.startCommands {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.startCommands li {
  background-color: #eef2f8;
}

.fill-height {
  padding: 0;
}

#canvasTools .col {
  padding: 0px;
}

#scene {
  text-align: center;
}

.scene.col {
  padding: 0;
  border-radius: 0;
}

#form .col {
  padding: 6px;
}

.list-container {
  background-color: #eef2f8;
  font-size: medium;
  font-weight: 600;
  display: block;
  height: auto;
  padding: 0;
  cursor: pointer;
}

.dragItem {
  border: 1px dashed;
  opacity: 0.5;
}

.dragImg {
  cursor: grab;
}

.display-none {
  display: none;
}

.dropHere {
  border: 3px dashed black;
}

.v-tabs-items {
  min-height: 100vh;
}

.v-select {
  max-width: 70%;
}

select {
  -webkit-appearance: listbox !important;
}

.v-expansion-panel-content__wrap {
  padding: 0;
}

.gridRow {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.gridColumn {
  border: 1px solid #000 !important;
  display: table-cell;
}

.v-list__tile {
  padding: 0;
}

.col {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.row {
  height: 100%;
}

.object {
  touch-action: none;
  user-select: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

option {
  padding: 5px 0;
}

#canvas1 {
  box-sizing: border-box;
}

#canvas2 {
  box-sizing: border-box;
  border: solid 1px black;
  user-select: none;
  touch-action: none;
}

#elements {
  background-color: #888;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

/* .canvas .cloned-item {
  display: none;
} */

.v-speed-dial--right {
  right: 10px;
}

.v-speed-dial--top {
  top: 0px;
}

.v-speed-dial {
  z-index: 10;
  position: relative;
}

/* drop target state */
ul[aria-dropeffect="move"] {
  border-color: #68b;
  background: #fff;
}

/* drop target focus and dragover state */
ul[aria-dropeffect="move"]:focus,
ul[aria-dropeffect="move"].dragover {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #68b;
}

li:hover {
  box-shadow: 0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

.start:hover {
  box-shadow: none;
}

/* items focus state */
li:focus {
  outline: none;
  box-shadow: 0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
li[aria-grabbed="true"] {
  background: #5cc1a6;
  color: #fff;
}

.item-dropzone-area {
  height: 2rem;
  background: #888;
  opacity: 0.8;
  animation-duration: 0.5s;
  animation-name: nodeInserted;
}

.d-none {
  display: none;
}

.scrollable-card {
  min-height: 100px;
  overflow-y: scroll;
  overflow-x: scroll;
  position: static;
}

.v-stepper__header .v-divider {
  margin: 0px -11px 0px 1px;
}

.variableCommand {
  background-color: #edf1f7;
}

.objects:not(.sceneSize) {
  height: 40px;
  overflow-y: scroll;
}

ul[aria-dropeffect="move"] {
  border-color: #68b;
  background: #fff;
}

/* drop target focus and dragover state */
ul[aria-dropeffect="move"]:focus,
ul[aria-dropeffect="move"].dragover {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #68b;
}

.dragenterClass {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #68b;
}

.draggable-ghost {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #68b;
  background: #fff;
  border: 2px dashed black;
}

.emptyNested {
  border: 1px solid black;
  height: 3em;
  margin: 0.5em;
  border-radius: 4px;
}

.col {
  border-radius: 4px;
}

.programmingArea .list-container .col {
  padding: 4px;
  padding-left: 12px;
  padding-top: 6px;
  text-align: start;
}

.programmingArea .col {
  padding: 4px;
  padding-left: 12px;
  padding-top: 6px;
  text-align: end;
}

.eventCommand {
  background-color: #d6dfee;
}

.objects {
  border: 1px solid black;
}

#trash {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

#trash li {
  display: none;
}

#score,
#timer {
  border: 1px solid black;
  height: 2em;
  padding: 4px;
  margin: 0.5em;
  border-radius: 4px;
  position: relative;
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.inputs {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

#scene {
  display: block;
  border: 0.5px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  text-align: left;
  height: 75wh;
}

.programmingArea input {
  border: 1px solid black;
  border-radius: 4px;
}

.v-stepper__header {
  height: 60px;
}

.container {
  display: flex;
}

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 100%;
}

#codeScene #score {
  border: 1px solid black;
  padding: 5px;
  width: 100px;
}

#codeScene {
  padding: 5px;
  display: block;
}

.ContextMenu {
  display: none;
  list-style: none;
  margin: 0;
  max-width: 250px;
  min-width: 125px;
  padding: 0;
  position: absolute;
  user-select: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  outline: 0;
  padding: 2px 0;
}

.is-open {
  display: block;
}

.ContextMenu-item {
  padding: 6px 12px;
}

li.ContextMenu-item {
  border: none;
}
.ContextMenu-item:hover,
.ContextMenu-item:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.ContextMenu-divider {
  background-color: rgba(0, 0, 0, 0.15);
}

.ContextMenu-item {
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ContextMenu-divider {
  height: 1px;
  margin: 4px 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@font-face {
  font-family: "SquarePeg";
  src: url("./assets/SquarePeg-Regular.ttf") format("opentype");
}

#appBar {
  font-family: "SquarePeg", serif;
}

.v-toolbar__title {
  font-size: 2rem;
}

.v-parallax {
  background: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
