<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="./lib/vuetify.min.css"
      rel="stylesheet"
    />
    <link href="./index.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>Nástroj na tvorbu hier</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script src="./lib/vue.js"></script>
  <script src="./lib/vuetify.js"></script>
  <script src="./lib/sortable.min.js"></script>
  <script src="./lib/vuedraggable.min.js"></script>
  <script src="./contextMenu.js"></script>
  <script src="./setup.js"></script>
   <script src="./export/fileContent.js"></script>
   <script src="./scene/Level.js"></script>
  <script src="./scene/GameObject.js"></script>
  <script src="./scene/scene.js"></script>
  <script src="./scene/execute.js"></script>
  <script src="./commandsSetup.js"></script>
  <script src="./components/tabObject.js"></script>
  <script src="./scene/interactItem.js"></script>

 
  <body>
    <div id="app" :key="key">
      <v-app>
        <div id="mainApp">
        <transition name="fade" mode="out-in">
        <game id="game" inline-template v-if="gameEditor" key="1">
          <div id="main">
          <cookie-dialog></cookie-dialog>
            <scene-editor inline-template v-if="!saved"> 
            <stepper inline-template @save="save">
              <v-stepper v-model="currentStep">
                <v-stepper-header>
                  <v-row>
                  <v-col cols="7">
                  <v-row class="mx-1">
                  <template v-for="n in steps">
                    <v-stepper-step
                      :key=`${n}-content`
                      :complete="currentStep > n"
                      :step="n"
                      editable
                      @change="changeStep(n)">
                    {{ nameSteps[n-1] }}
                    </v-stepper-step>
                    <v-divider v-if="n !== steps" :key="n"></v-divider>
                  </template>
                  </v-row>
                  </v-col>
                    <v-col cols="2">
                      <v-btn
                          class="mt-1"
                          v-if="!saved"
                          dark
                          small
                          color="#3949AB"
                          @click="save"
                        >
                        Programovanie <br> objektov
                        </v-btn>
                        
                   </v-col>  
                   <v-col cols="1" class="mt-1">
                    <code-editor-canvas></code-editor-canvas>
                  </v-col>
                
                <v-col cols="1">
                  <fab-menu></fab-menu>
                </v-col>
               
                <editor-help-dialog :step="currentStep"></editor-help-dialog>
                </v-stepper-header>
              <v-divider></v-divider>
             
              <v-container class="ma-0 pa-1 pr-5" fluid>
              <v-row>
                <v-col cols="1" class="ma-0 pl-5">
                <canvas-tools></canvas-tools> 
                
                <!-- STEP 1 -->
                
                <card-stepper1 inline-template v-if="currentStep === 1" ref="sceneProps">
                  <v-form ref="form" id="form">    
                        <v-text-field
                          id="rows"
                          v-model="rows"
                          :rules="canvasRules"
                          label="Počet riadkov"
                          required
                        ></v-text-field>
                        <v-text-field
                          id="cols"
                          v-model="cols"
                          :rules="canvasRules"
                          label="Počet stĺpcov"
                          required
                        ></v-text-field>
                        <v-text-field
                          id="cellSize"
                          v-model="cellSize"
                          :rules="canvasRules"
                          label="Štvorec"
                          required
                        ></v-text-field>
                        <v-btn
                          small
                          @click="setCanvas()"
                          color="green lighten-2"
                        >
                          Nastav
                        </v-btn>  
                  </v-form>
              </card-stepper1>
              </v-col>

  
              <!-- SCENE -->
               <v-col id="scene" cols="11" class="ma-0 pa-0">
              </v-col>
              <v-row>
              <v-col cols="2" class="pr-0">
                <v-row class="pl-10">
                  <v-btn 
                    class="mx-1"
                    :disabled="currentStep == 1"
                    color="secondary"
                    @click="backStep(currentStep)">
                    Späť
                  </v-btn>
                  <v-btn
                    color="primary"
                    @click="nextStep(currentStep)"
                  >
                    Ďalej
                  </v-btn>
                  </v-row>
              </v-col>   
              <v-col cols="10" class="px-0 py-1">

            <!-- STEPPER 2 -->
              <card-stepper2 inline-template v-if="currentStep === 2">
                <v-row class="mx-5 my-1 objects" color="secondary">
                  <div class="canvas">
                    <img v-for="(item, key) in availableItems" :src="item.src" :name="item.name" class="object wall" :key="key"></img>
                  <add-image-btn @uploadimg="uploadImage"></add-image-btn>
                  </div>
                </v-row>
              
              <!-- STEPPER 3 -->
              </card-stepper2>
              <card-stepper3 inline-template v-if="currentStep === 3">
                <v-row class="mx-5 my-1  objects" color="secondary">
                <div class="canvas">
                  <img v-for="(item, key) in availableItems" :src="item.src" :name="item.name" class="object item" :key="key"></img>
                  <add-image-btn @uploadimg="uploadImage"></add-image-btn>
                </div>
                </v-row>
             
              </card-stepper3>
              <!-- STEPPER 4 -->
              <card-stepper4 inline-template v-if="currentStep === 4">
                <v-row class="mx-5 my-1 objects" color="secondary">
                  <div class="canvas">
                    <img v-for="(item, key) in availableItems" @mouseover="animate($event, item)" @mouseout="stopAnimate($event, item)" :src="item.src" :name="item.name" class="object player" :key="key"></img>
                  </div>
                </v-row>
              </card-stepper4>
            
             
              <!-- STEPPER 5 -->
              <card-stepper5 inline-template v-if="currentStep === 5">
              <v-row class="mx-5 my-1 objects" color="secondary">
                  <div class="canvas">
                    <img v-for="(item, key) in availableItems" @mouseover="animate($event, item)" @mouseout="stopAnimate($event, item)" :src="item.src" :name="item.name" class="object enemy" :key="key"></img>
                  </div>
              </v-row>
              </card-stepper5>
              <!-- STEPPER 6 -->
              <card-stepper6 inline-template v-if="currentStep === 6">   
                <v-row class="mx-5 my-1 objects" color="secondary">
                  <div class="canvas">
                  <player v-for="(item, key) in sounds" :name="item.name" :file="item.file" :key="key">
                  </player>
                  <add-sound-btn @uploadsound="uploadSound"></add-sound-btn>
                </div>
                </v-row>
              </card-stepper6>
              </v-col>
              </v-row>
            </card-stepper>
           
        </v-stepper>
        
      </stepper>         
      </scene-editor>

     <!-- CODE EDITOR -->
        <code-editor inline-template v-if="saved">
          <div id="main">
            <trash></trash>
          <v-row justify="end" id="controls">              
            <v-col cols="1"><code-editor-canvas></code-editor-canvas></v-col>
              <v-col cols="1">
              <v-btn
                  v-if="saved"
                  dark
                  small
                  color="#3949AB"
                  @click="editScene"
                >
                Úprava <br> scény
            </v-btn>
            </v-col>
            <v-col cols="1" class="pa-0 pt-2"><fab-menu></fab-menu></v-col>
            <v-col cols="1" class="pa-0 ma-0"><editor-help-dialog :step="7"></editor-help-dialog></v-col>
          </v-row>           
          
          <v-container fluid style="height: 90vh;" class="pa-0">
          <v-row class="pr-10">
            <v-col cols="4" class="pa-0" id="gameObjects">
              <game-objects></game-objects>
            </v-col>
            <v-col cols="8" class="pa-0">
            <tab-object id="tabObject"></tab-object>
            </v-col>   
          </v-row>
          </v-container>
          </v-row>
       
        </v-row>
      </div>
      </code-editor>
      </v-stepper-content>
      </v-stepper>
    </div>
    </game>
  
    <landing-page v-if="!gameEditor"></landing-page>
  </transition>

</div>
      </v-app>
    </div>

    <script>
      let assets = {};
    </script>
    <script src="./assets/sounds/sounds.js"></script>
    <script src="./assets/characters/characters.js"></script>
    <script src="./assets/objects/desert/objects_desert.js"></script>
    <script src="./assets/objects/simple/objects_simple.js"></script>
    <script src="./assets/objects/winter/objects_winter.js"></script>
    <script src="./assets/objects/graveyard/objects_graveyard.js"></script>
    <script src="./assets/tiles/desert/tiles_desert.js"></script>
    <script src="./assets/tiles/simple/tiles_simple.js"></script>
    <script src="./assets/tiles/winter/tiles_winter.js"></script>
    <script src="./assets/tiles/graveyard/tiles_graveyard.js"></script>
   
    <script src="./components/components.js"></script>
    <script scr="./components/Menu.js"></script>
  </body>
</html>
